<!-- <div class="todo--filter"> -->
	<!-- <div class="col-md-4 col-xs-9">

		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-primary" [ngClass]="filter === null ? 'active': ''">
			<input type="checkbox" checked="" autocomplete="off" (click)="setFilterStatus('null')"> All
			</label>
			<label class="btn btn-primary" [ngClass]="filter === false ? 'active': ''">
			<input type="checkbox" autocomplete="off" (click)="setFilterStatus('false')"> Active
			</label>
			<label class="btn btn-primary" [ngClass]="filter === true ? 'active': ''">
			<input type="checkbox" autocomplete="off" (click)="setFilterStatus('true')"> Done
			</label>
		</div>
</div> -->
	<mat-button-toggle-group color="primary" #group="matButtonToggleGroup" >
		<mat-button-toggle value="null" (change)="setFilterStatus($event.value)">
			All
		</mat-button-toggle>
		<mat-button-toggle value="0" (change)="setFilterStatus($event.value)">
			Active
		</mat-button-toggle>
		<mat-button-toggle value="1" (change)="setFilterStatus($event.value)">
			Completed
		</mat-button-toggle>
	</mat-button-toggle-group>
	
<!-- </div> -->

