	<div class="example-container">
		<mat-form-field appearance="fill">
			<mat-label>Please, enter note: </mat-label>
			<input 
				matInput 
				placeholder="enter your note" 
				[formControl]="note"
				(change)="onCreateNote()">
			<mat-error >
				Min 3 character or Maximum 250 characters
			</mat-error>
		</mat-form-field>
		<!-- <button mat-raised-button 
			[disabled]="note.invalid"
			color="primary"
			(click)="onCreateNote()">
			<i class="material-icons">
				add_circle
			</i>
			Add
		</button> -->
	</div>