<form 
	class="col-md-7 col-xs-7"
	[formGroup]="addNoteForm" 
	(ngSubmit)="onCreateNote()">
	<div class="todo__add" >
		<label for="" class="todo__add-lable">Add todo: </label>
		<input 
			type="text" 
			formControlName="note" 
			class="todo__add-input"
			[(ngModel)] = "todo"
			[ngStyle]="addNoteForm.invalid ? {'border':'2px solid red'}:{'border':'1px solid transparent'}">
		<button class="todo__add-btn">
			+ Add
		</button>
		<div class="todo__add-invalid" *ngIf="addNoteForm.invalid">
			Min 3 character or Maximum 250 characters
		</div>
	</div>
</form>

