.circle{
	background    : #00FF7F;
	border        : 1px solid #c2c2c2;
	border-radius : 50%;
	width         : 10px;
	height        : 10px;
	display       : block;
	margin-right  : 5px;
}

.circle2{
	background    : transparent;
	border        : 1px solid #c2c2c2;
	border-radius : 50%;
	width         : 10px;
	height        : 10px;
	display       : block;
	margin-right  : 5px;
}

.todo__list__item{
	align-items: center;
    display: flex;
    justify-content: center;
	font-size: 14px;
	color: #c2c2c2;
	margin: 10px 0 0 0;
    border-bottom: 1px solid #c2c2c2;
	.todo__list__item-btn{
		border-radius: 0.5rem;
		border: 1px solid transparent;
		color: #839496;
		margin-right: 0.5rem;
	}
	.todo__list__item-btn:hover{
		border-radius: 0.5rem;
		color: #e0f1f3;
		background-color: #00ccffad;
		text-decoration: none;
		border: 1px solid #e0f1f3;
	}
}

.text-done{
	text-decoration: line-through;
}