<div class="todo__list__item">
	<div class="col-md-1 col-xs-1">{{index+1}}</div>
	<div class="col-md-1 col-xs-1">
		<span 
			[ngClass]="todoitem.done ? 'circle' : 'circle2'"
			(click)="toggleDoneID(notekey)">
		</span>
	</div>
	<div class="col-md-7 col-xs-7"
		[ngClass] = "todoitem.done ? 'text-done' : ''"
		[ngStyle] = "todoitem.important ? {'font-weight':'bold'} : {'font-weight':'normal'}"
		>
			{{todoitem.text}}
	</div>
	<div class="col-md-3 col-xs-3">
		<!-- <button *ngIf="note.value.text.length>10">
			more
		</button> -->
		<button 
			class="todo__list__item-btn"
			(click)="toggleImportantID(notekey)">
			Important
		</button>
		<button class="todo__list__item-btn">
			Edit
		</button>
		<button 
			class="todo__list__item-btn"
			(click)="onDeleteID(notekey)">
			Delete
		</button>
	</div>
</div>
