<main class="todo">
	<section class="row">
		<app-todo-add 
			class="col-md-4 col-xs12" 
			(onUp)="onUpdateData()">
		</app-todo-add>
		<app-todo-search 
			class="col-md-4 col-xs12" 
			(filterValue)="filterTable($event)">
		</app-todo-search>
		<app-todo-filter 
			class="col-md-4 col-xs-12"
			(onFilter)="getValueFilterButton($event)">
		</app-todo-filter>
		<!-- <app-todo-clear 
			class="col-md-1 col-xs-3">
		</app-todo-clear> -->
	</section>
	<section>
		<app-todo-list 
			[updateTable] ="update_data"
			[filterTable] = "filterNote"
			[FilterButton] ="filterDone">
		</app-todo-list>
	</section>
</main>