<div>
	<div class="row text">
		<div class="col-md-1 col-xs-1">#</div>
		<div class="col-md-1 col-xs-1">Done</div>
		<div class="col-md-7 col-xs-7">Notes</div>
		<div class="col-md-3 col-xs-3">Modify</div>
	</div>
	<div *ngIf="todos.size === 0" class="no-found">
		Not Found!
	</div>
	<div class="row"
		*ngFor="let note of todos | keyvalue; let i = index;">
		<app-todo-list-item 
			*ngIf="filters === null"
			[todoitem]="note.value" 
			[notekey]="note.key" 
			[index]="i">
		</app-todo-list-item>
		<app-todo-list-item 
		*ngIf="filters !== null && note.value.done === filters"
		[todoitem]="note.value" 
		[notekey]="note.key" 
		[index]="i">
	</app-todo-list-item>
	</div>
</div>
