<div>
	<table 
		mat-table 
		[dataSource]="dataSource" 
		matSort
		class="mat-elevation-z8"
		style="width: -webkit-fill-available;"
		>
		
		<ng-container matColumnDef="id">
			<th style="width: 25px;"
				mat-header-cell 
				*matHeaderCellDef 
				mat-sort-header> 
					No. 
			</th>
			<td
				mat-cell 
				*matCellDef="let element; let i = index;"> 
					{{i+1}} 
			</td>
		</ng-container>

		<ng-container matColumnDef="text">
			<th 
				mat-header-cell 
				*matHeaderCellDef 
				mat-sort-header> 
					Note 
			</th>
			<td mat-cell 
				*matCellDef="let element" 
				[ngClass] = "element.done ? 'text-done' : ''"
				[ngStyle] = "element.important ? {'font-weight':'bold'} : {'font-weight':'normal'}"
				(click)="toggleDoneID(element.id, element)">
				<p> 
					{{element.text}} 
				</p>
			</td>
		</ng-container>

		<ng-container matColumnDef="button">
			<th mat-header-cell *matHeaderCellDef style="width: 280px;"> Button </th>
			<td mat-cell *matCellDef="let element"> 
				<button mat-raised-button 
					type="button"
					title="State done item by ID"
					(click)="toggleDoneID(element.id, element)"
					[ngClass]="element.done === 1 ? 'circle' : 'circle2'">
					<i class="material-icons">check_circle_outline</i>
				</button>
				<button type="button"
					mat-raised-button 
					color="primary"
					title="State important item by ID"
					(click)="toggleImportantID(element.id, element)"
					[ngClass]="element.important === 1 ? 'circle' : 'circle2'">
					<i class="material-icons">outlined_flag</i>
				</button>
				<button type="button"
				mat-raised-button 
				color="accent"
				title="Edit note by ID"
				(click)="onEditNoteID(element.id, element)"
				>
					<i class="material-icons">edit</i>
				</button>
				<button type="button"
					mat-raised-button 
					color="warn"
					title="Delete item by ID"
					(click)="onDeleteID(element.id, element.text)">
					<i class="material-icons">clear</i>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator 
		class="paginator"
		[pageSize]="5" 
		[pageSizeOptions]="[5, 10, 20]" 
		showFirstLastButtons>
	</mat-paginator>
</div>

